<div class="container">
    <div class="location-form-header">
        <div class="heading">Share Location</div>
    </div>
    <div class="location-form-body">
        <div class="form-body">
            <div class="form-item">
                <h5>Location Name: </h5>
                <input class="input" type="text">
            </div>
            <div class="form-item">
                <h5>Location on map: </h5>
                <div class="map">
                    <div class="map-container" id="map"></div>
                </div>
            </div>
            <div class="form-item">
                <h5>Location Type: </h5>
                <select class="select">
                    <option value="">Business</option>
                    <option value="">Home</option>
                    <option value="">School</option>
                </select>
            </div>
            <div class="form-item">
                <h5>Logo: </h5>
                <div class="upload">
                    <img width="180" src="../../../assets/images/upload.png" alt="">
                </div>
            </div>
        </div>

    </div>
    <div class="location-form-action">
        <div class="buttons">
            <button mat-raised-button color="primary" class="button" >Cancel</button>
            <button mat-raised-button color="primary" class="button" >Save</button>
        </div>
    </div>
</div>