//----------theme colors-----------

$primary-color: #CBAA6C;
$accent-color: #CABDFF;
$accent-color-light: #E7E6FF;

$success-color: #198803;
$danger-color: #ca0000;
$info-color: #0068ad;
$warning-color: #c0c404;

$primary-color-palette: #FDA27E;
$primary-secondary-color-palette: #FFEEE8;
$accent-color-palette: #CABDFF;
$accent-secondary-color-palette: #F0ECFF;
$warn-color-palette: #FD4154;
$complement-color-palette: #E0E0E0;

$button-color-enabled: #A68FFF;
$button-color-disabled: #E5DFFF;


//----------app background colors-----------

$background-color: #F3F9FE;


//----------help colors-----------

$help-color: #ffa726;
$help-line-color: #00695c;


//----------table colors-----------

$row-color-selected: #7aeb89;



//----------alert colors-----------

$circle-badge-color: #f44336;


//----------text colors-----------
$text-red: #FF0000;
$text-gray: #A0A0A0;

$text-color-primary: #1F2126;
$text-color-secondary: #666972;
$text-color-disable: #9FA1A8;
//----------icon colors-----------
